<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to School Management System</h1>                
            </hgroup>
            
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        You are in Home Page
        
    </section>
</div>
