.scrollable {
    width: 12em;
    height: 20em;
    line-height: 2em;
    border: 1px solid #ccc;
    padding-top: 0px;
    padding-right: 5px;
    margin-top: 1em;
    overflow: scroll;
    overflow-x: hidden;
}
.search{
    width:10em;
}

.myfieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}