.scrollable {
    width: 12em;
    height: 20em;
    line-height: 2em;
    border: 1px solid #ccc;
    padding-top: 0px;
    padding-right: 5px;
    margin-top: 1em;
    overflow: scroll;
    overflow-x: hidden;
}
.search{
    width:10em;
}