@{
    ViewBag.Title = "Manage Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="body" ng-app="smsApp" >
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.SMSResource.students</h1>
            </hgroup>

        </div>
    </section>
    <section class="content-wrapper main-content clear-fix" ng-controller="studentController as studentCtrl">
        <table>
            <tr>
                <td>
                    @*@Html.Partial("AllStudents")*@
                </td>
                <td>
                    @Html.Partial("AddStudent")
                </td>
            </tr>
        </table>
       
    </section>
</div>




@Scripts.Render("~/Scripts/angular.js",
"~/Scripts/Angular/studentController.js",
"~/Scripts/Localizer/JSLocalizer.js",
"~/Scripts/Localizer/JSResource.ar-EG.js",
"~/Scripts/Localizer/JSResource.js",
"~/Scripts/jquery-2.1.1.js",
"~/Scripts/globalize/globalize.js",
    "~/Scripts/globalize/globalize.culture.ar-EG.js", 
    "~/Scripts/helpers/localizationHelper.js")

@Styles.Render("~/Content/themes/bootstrap.min.css");



