@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.SMSResource.Error</title>
</head>
<body>
    <hgroup>
        <h1>@Resources.SMSResource.Error.</h1>
        <h2>@Resources.SMSResource.ErrorProcessingRequest.</h2>
    </hgroup>
</body>
</html>